@page
@model part4.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section>
    <h1> About Us</h1>
    <p>
        This is an online computer shop where you can customize your hardware to suit your needs.
    </p>


</section>
