@page
@model IndexModel
@{
    ViewData["Title"] = "Home pagetest ";
}

<div>
    <h1>Welcome!</h1>
    <p> Welcome to ML Computer Systems. ML Computer Systems offers highly customizable prebuilt computer systems for a variety of different needs.</p>

 
</div>
